<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sharewis.ShareWis"
    android:versionCode="6"
    android:versionName="5.0.0">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="22" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="com.sharewis.ShareWis.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.sharewis.ShareWis.permission.C2D_MESSAGE" />

    <application
      android:name=".MainApplication"
      android:allowBackup="true"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:theme="@style/AppTheme">

      <meta-data android:name="com.bugsnag.android.API_KEY" android:value="ec9f91ccdd6945920ae446981a715b62"/>
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:theme="@style/SplashTheme"
        android:screenOrientation="portrait"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

      <activity android:name="com.facebook.FacebookActivity"
        android:configChanges=
               "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
        android:label="@string/app_name" />
      <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

      <receiver
        android:name="io.repro.android.GCMReceiver"
        android:exported="true"
        android:permission="com.google.android.c2dm.permission.SEND">
        <intent-filter>
          <action android:name="com.google.android.c2dm.intent.RECEIVE" />
          <category android:name="com.sharewis.ShareWis" />
        </intent-filter>
      </receiver>
    </application>

</manifest>
